<%-# <h1>Hello, World!</h1>-%>

<%-#<img src="ioh_logo.png" alt="sorry no pic!" width=100 height=100 border=0></img>-%>

<table width=100%>
<tr>
	<td rowspan=2>
	<%= image_tag("ioh_logo.png") %>
	</td>
	<td align=right width=200px><h2> Hi Helper!! </h2></td>
	<td align=right width=80px><%= image_tag("asterisk.png", :size => "15x15") %><font color="#1C86EE"> <u>Hi Jeff </u></td>
	<td align=right width=80px><font color="#1C86EE"><u> Log out </u></td>
</tr>
<tr>
	<td></td>
	<td align=center colspan=2> Search </td>
</tr>
</table>


<table width=100%>
<td>

<table style="border:2px solid rgb(0,0,0); " rules="all" width=100%>
	<col span="1" style="background-color: rgb(71,162,249);">
	<tbody>
		<tr>
			<td align=center width=300px>Talks</td>
			<td align=center width=500px>Speakers</td>
			

			
		</tr>
	</tbody>
</table>

</td>
<td></td>
<td>

<table style="border:2px solid rgb(0,0,0); " rules="all" align=right>
	<col span="2" style="background-color: rgb(68,147,18)" width=1000px>
	<tbody  text="#FFFFFF">
		<tr>
			<td align=center width=150><font color="white">New Talk</td>
			<td align=center width=150><font color="white">New Speaker</td>
		

			
		</tr>
	</tbody>
</table>

</td>
</table>

<table style="border:2px solid rgb(0,0,0);" rules="all" cellPadding=6>

<tr bgcolor="#C1C1C1">
	<th width=300px align=left>School(Nation)</th>
	<th width=150px align=left>Department</th>
	<th width=80 align=left>Name</th>
	<th width=250 align=left>talk status</th>
	<th width=150 align=left>other helper</th>
	<th width=150 align=left>sign up date</th>
	<th width=200 align=left>last activity date</th>
</tr>
<tr bgcolor="#EAEAEA">
	<td>Harvard(United States)</td>
	<td>EE</td>
	<td>Sai</td>
	<td>Waiting for part 1 video</td>
	<td></td>
	<td>13/Jan/1</td>
	<td>13/Feb/1</td>
</tr>
<tr>
	<td>U of North Carolina(United States)</td>
	<td>Service Science</td>
	<td>Yuan</td>
	<td>Waiting for helper feedback of talks</td>
	<td></td>
	<td>13/Aug/30</td>
	<td>13/Dec/20</td>
</tr>
<tr bgcolor="#EAEAEA">
	<td>UC Berkely</td>
	<td>MIMS</td>
	<td>Aaron</td>
	<td>Finish</td>
	<td></td>
	<td>15/Dec/21</td>
	<td>15/Jan/25</td>
</tr>

</table>
<p>
<table style="border:2px solid rgb(0,0,0);" width=100%>

	<td align=left>Messages</td>
</table>










