
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h2 class="panel-title">Helpers</h2>
				</div>
				<div class="panel-body">
					<div id="helpers_list">
						<div class="row">
							<div class="col-md-4 show" >
								<h3><%= f.input :helper, collection: User.all, :label_method => :name, :value_method=>:id , :selected => Talk.first.user_talks.first.nil? ? '': t.user_talks.first.user.id   %></h3>
							</div>
						</div>
					</div>
				</div>
			</div> 
	  	
<script type="text/javascript">
            
				//$(".row.draggable").draggable({revert: "invalid"});
				//$(".row.draggable").droppable();
				//$(".tab-pane" ).sortable();
    			//$(".tab-pane" ).disableSelection();

				$(".helpers").change(function(){
					
					if(this.value=="")
						$(this).parent().next('div').removeClass('show').addClass('hidden');
					else
						$(this).parent().next('div').removeClass('hidden').addClass('show');

				});
				
				


        </script>