<div class="col-md-12 col-md-offset-11">
<%= f.input :processes, :as=>:hidden %>


<%= f.submit "Update", :class=>"btn btn-primary btn-lg"%>
</div>
<script type="text/javascript">
$('.simple_form.talk').submit(function()
					{
	    				try{
	    	
					     	 
					     //  	var users = $("#helpers_list").children().find(".helpers").map(function() {
	    					// return this.value;
	    					// }).get();
//.this.textContent;


					     	 
					    	}						
					    catch (error)
					    	{}
					    	var processes = $(".process_list").find("li").map(function() {
	    					return $(this).find(".id").get(0).value +"/" + $(this).find(".datetimepicker").val();
							}).get();

					    	document.getElementById("talk_processes").value = processes;
							alert(processes);
					    	
					});
</script>
