<div class="container">
	<div class="row">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<img>
			<h1> Part 1| 求學經歷講座</h1>
			<div class= "video">
			</div>
			<div class="part1">
				<source src="" type="video/mp4">
			</div>
			<h1> Part 2| 申請經驗講座</h1>
			<div class= "video">
			</div>
			<div class="part2">
				<source src="" type="video/mp4">
			</div>
			<h1> Part 3| Q&A</h1>
			<div class= "video">
				<source src="" type="video/mp4">
			</div>
			<div class="part3">
			</div>
			<div class="fb-plugin">
			</div>
			<div class="footer">
			</div>
		</div>
	</div>
</div>