
    &nbsp;&nbsp;&nbsp;<img src='assets/ioh.png' alt='error' height='74.25' width='327.5'>
    <div>
      <span class='menu' id="menuID">
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>關於IOH</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>IOH團隊</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>參與IOH</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>最新消息</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='4'><big>聯絡我們</big></font></a>
      </span>
    </div>

    <div id="carousel-example-generic" class="carousel slide carouselLayout" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <span>
            <!-- 480x270 = 16x9 -->
            <img src="assets/carousel1.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel2.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel3.png" alt="hi" width="472" height="265.5">
          </span>
          <div class="carousel-caption">
            111
          </div>
        </div>

        <div class="item">
          <span>
            <img src="assets/carousel4.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel5.png" alt="hi" width="472" height="265.5">
            <img src="assets/carousel6.png" alt="hi" width="472" height="265.5">
          </span>
          <div class="carousel-caption">
            111
          </div>
        </div>
        
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

     <div style="background-color:rgb(146, 2, 23); text-align:center; padding-bottom:5px; position:relative; top:20px;" id="menuID">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;"><font size='3'><big>發現講座</big></font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <font size='4' color="white"><big>|</big></font>
        &nbsp;&nbsp;&nbsp;
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;"><font size='3'><big>搜尋講座</big></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="inputKeyWords" name="firstname" placeholder="輸入關鍵字" style="height:20px; width:120px; text-align:center;">
    </div>
    
    <div style="background-color:rgb(146, 2, 23); position:relative; top:30px; height:115px;">
        
      <canvas id="circleDo" class="bigCircle" width="2000" height="115" style="position:relative; top:8px; left:-10px;">
      Your browser does not support the HTML5 canvas tag.</canvas>

    </div>

    <div>
      <span style="position:relative; top:-55px; left:45px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font size='5'><big><big><big>方向</big></big></big></font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:95px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>求學</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:143px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>工作</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:191px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>創業</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:239px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>ALL</font>
        </a>
      </span>
      <span style="position:relative; top:-55px; left:295px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font size='5'><big><big><big>地區</big></big></big></font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:345px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>亞洲</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:393px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>美洲</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:441px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>歐洲</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:489px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>其他</font>
        </a>
      </span>
           <span style="position:relative; top:-55px; left:539px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font size='5'><big><big><big>領域</big></big></big></font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:589px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>設計</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:637px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>商管</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:685px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>科技</font>
        </a>
      </span>
      <span style="position:relative; top:-65px; left:733px;">
        <a href="http://www.ntu.edu.tw" style="text-decoration:none;color:white;">
          <font>人文</font>
        </a>
      </span>
    </div>

    <div id="rectangle" >
      <% i = 0 %><p>
      <% @tc_list.each do |tc| %>

          <% s = SpeakerProfile.find(tc.speaker_profile_id) %>
          <% sac = s.acadamic_histories %>
          <button type="button" class="btn btn-default" data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= s.eng_name %>, <%= s.chi_name %>">
            <!-- <img data-src="holder.js/140x140" class="img-rounded" alt="140x140" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+" style="width: 140px; height: 140px;"> -->
            
            <%= link_to image_tag("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNDAiIGhlaWdodD0iMTQwIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjcwIiB5PSI3MCIgc3R5bGU9ImZpbGw6I2FhYTtmb250LXdlaWdodDpib2xkO2ZvbnQtc2l6ZToxMnB4O2ZvbnQtZmFtaWx5OkFyaWFsLEhlbHZldGljYSxzYW5zLXNlcmlmO2RvbWluYW50LWJhc2VsaW5lOmNlbnRyYWwiPjE0MHgxNDA8L3RleHQ+PC9zdmc+"),edit_talk_path(tc.id) %>
          </button>

          <% if i < 8 %>
            <% i += 1 %>
          <% else %>
            </p><p>
            <% i = 0 %>
          <% end %>
        <% end %> 
      </p>
        <!-- <canvas id="circleDo" class="bigCircle" width="2000" height="115" style="position:relative; top:8px; left:-10px;">
      Your browser does not support the HTML5 canvas tag.</canvas>
 -->  
    </div>

    <div style="background:black; padding:12px;">
      <span style="position:relative; left:60px;">
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>關於IOH</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>IOH團隊</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>參與IOH</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>最新消息</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>聯絡我們</big></font></a>&nbsp;&nbsp;&nbsp;<font size="3" color="white">|</font>&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:white;"><font size='3'><big>IOH小鋪</big></font></a>
      </span>
      
      <a href="http://www.ntu.edu.tw"><img src="assets/iohElecNews.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:0px;"></a>
      <a href="http://www.ioh.tw/"><img src="assets/iohSmallStore.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-10px;"></a>
      <a href="https://twitter.com/"><img src="assets/twitter.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-20px;"></a>
      <a href="http://www.facebook.com"><img src="assets/fb.png" alt="no fb pic QAQ" style="width:2%; height:2%; float:right; position:relative; left:-30px;"></a>
      
    </div>

 <script type="text/javascript">
var circleDo = $('#circleDo');
var rect = $('#rectangle');

circleDo.ready(function(){
	// console.log('haha');
	
	// if ($('canvas[id=circleDo]').hasClass('bigCircle'))
	// 	console.log('bigCircle');
	// if ($('canvas[id=circleDo]').hasClass('smallCircle'))
	// 	console.log('smallCircle');
	var x=95, y=50;
	for (i=1; i<=15; i++)
	{	
		if (i%5===1)
		{
			drawCircle(1, x, y);
			circleOption();
		}
		else
			drawCircle(0, x, y);

		if (i%5===1 || i%5===0)
			x+=110;
		else
			x+=80;
	}
	
});
// 
$('.btn-default').popover();

// 
function drawCircle(size, x, y){
	var radius;
	if (size === 1)
		// console.log('big');
		radius = 50;
	else 
		// console.log('small');
		radius = 30
	var c = document.getElementById("circleDo");
	var ctx = c.getContext("2d");
	ctx.beginPath();
	ctx.arc(x,y,radius,0,2*Math.PI);
	var dashList = [3, 3];  // Create 3x3 dots and spaces
	ctx.setLineDash(dashList);
	// set line color
    ctx.strokeStyle = '#ffffff';
	ctx.stroke();
}

function circleOption(){
	console.log('circleOption');
}

rect.ready(function(){
	console.log('in rectangle');
	var redCount=30, allCount=170;
	var x=35, y=5;
	for (i=1; i<=allCount; i++)
	{
		
		if (i<=redCount)	
		{
			// red is rgb(202, 0, 13)
			drawRect(x, y, "rgb(202, 0, 13)");
			x+=60;
		}
		else
		{
			// gray is rgb(143, 146, 142)
			drawRect(x, y, "rgb(143, 146, 142)");
			x+=60;
		}
		if (i%23===0)
		{
			x=35;
			y+=60;
		}
	}
	
	
});

function drawRect(x, y, color){
	var c=document.getElementById("rectDraw");
	var ctx=c.getContext("2d");
	ctx.beginPath();
	ctx.lineWidth="1";
	// rgb(202, 0, 13)
	ctx.strokeStyle=color;
	ctx.rect(x,y,50,50); 
	ctx.fillStyle=color;
	ctx.fill();
	ctx.stroke();
}
</script>