
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IOH Home</title>
    
    <!-- Bootstrap -->
    <link href="assets/bootstrap-3.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/speaker.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/jquery-migrate-1.2.1.js"></script>
    <script src="js/kinetic-v5.1.0.min.js"></script>
    <script src="js/speaker.js"></script>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/bootstrap-3.1.1/dist/js/bootstrap.min.js"></script>
    &nbsp;&nbsp;&nbsp;
    <img src='assets/speaker/ioh_speaker.jpg' alt='error' width='225.5' height='143' >
    <!-- 41:26   -->
    <div>
      <span class='menu' id="menuID">
        <a href="index.html" style="text-decoration:none;color:rgb(143, 146, 142);"><font size='5'>關於IOH</font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:rgb(143, 146, 142);"><font size='5'>IOH團隊</font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="speaker.html" style="text-decoration:none;color:rgb(143, 146, 142);"><font size='5'>參與IOH</font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:rgb(143, 146, 142);"><font size='5'>最新消息</font></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://ioh.tw" style="text-decoration:none;color:rgb(143, 146, 142);"><font size='5'>聯絡我們</font></a>
      </span>
    </div>

    <!-- left column -->
    <div class="col-xs-3" id="leftCol" style="height:4000px; width:20%;">
        <span class="leftText" style="position:relative; top:20px;">
            <font size="4"><big>關於講者 ></big></font>
        </span>

        <!-- Input: Speaker Image -->
        <img src="assets/speaker/thomas.jpg" alt="Thomas disappear QAQ" style="width:250px; height:250px; position:relative; top:30px;">

        <!-- Input: Speaker Name -->
        <div class="leftText" style="position:relative; top:50px;">
            <font size="3"><big>Chun-Yen Hsu 許鈞彥</big></font>
        </div>

        <div class="leftText" style="position:relative; top:60px;">
            <font size="3">哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas 哈摟大家好我是Thomas </font><p></p>
            <font size="3">哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas 哈摟大家好到了下一段我還是Thomas </font>
        </div>
<!-- &nbsp; -->
        <div class="leftText" style="position:relative; top:100px;">
                <font size="4">感謝 |</font>
        </div>

        <div class="leftText" style="position:relative; top:130px;">
            <div>
                <font size="4">IOH志工&nbsp;&nbsp;</font>
            </div>
            <div>
                <font size="4">+</font>
            </div>
            <div>
                <font size="4">此講座由Johnnie Walker </font>
            </div>
            <div>
                <font size="4">The Keep Walking Fund</font>
            </div>
            <div>
                <font size="4">夢想資助計畫所贊助</font>
            </div>
        </div>

        <div class="leftText" style="position:relative; top:170px;">
        
            <font size="4">向講者留言發問 |</font>
        </div>

        <a href="http://www.ntu.edu.tw"><img src="assets/speaker/thomas.jpg" alt="Thomas disappear QAQ" style="width:250px; height:250px; position:relative; top:230px;"></a>

        <a href="http://www.ntu.edu.tw"><img src="assets/speaker/wantVideoMeet.png" alt="Thomas disappear QAQ" style="width:252px; height:120px; position:relative; top:220px;"></a>
        
    </div>

    <!-- right column -->
    <div class="col-xs-9">

        <!-- 1112*615 -->
        <img src="assets/speaker/thomasCoverPhoto.png" alt="Cover Photo Disappear QAQ !!">
        
        <div style="position:relative; top:10px;">
            <font size="5"><big>part 1 | 求學經驗講座</big></font>
        </div>

        <iframe width="1109" height="624" style="position:relative; top:30px;" src="http://www.youtube.com/embed/1DAFFmTTT08?rel=0" frameborder="0" allowfullscreen></iframe>

        <div class="rightText" style="top:50px;">
            The rapid growth of the Internet has enabled billions of peo- ple to share photos, to blog, and to play games with each other. However, languages remain a barrier for people to connect, socialize, and cooperate around the world. We con- ducted a 12-person user study to understand how language barriers affect cooperative experiences through 3 popular co- operative games. Results showed that participants without common languages rated their experience as significantly more frustrating and less fun. We propose using body lan- guage to transcend language barriers for cooperative games. Our system, BodyTalk, uses Kinect sensors to track users’ postures and presents them as avatars in real-time with other users over the Internet, and uses Wii remotes to navigate. Our 48-person user study using our prototype game showed that adding body language to cooperative experiences was more fun and less frustrating, and improved co-experience for par- ticipants without common languages. Also, 83% of the par- ticipants preferred having body language communication.
        </div>

        <div style="position:relative; top:80px;">
            <font size="5"><big>part 2 | 申請經驗講座</big></font>
        </div>

        <iframe width="1109" height="624" style="position:relative; top:100px;" src="http://www.youtube.com/embed/IubKeveE0Xg?rel=0" frameborder="0" allowfullscreen></iframe>

        <div class="rightText" style="top:120px;">
            We present EverTutor, a system that automatically generates interactive tutorials on smartphone from user demonstration. For tutorial authors, it simplifies the tutorial creation. For tutorial users, it provides contextual step-by-step guidance and avoids the frequent context switching between tutorials and users' primary tasks. In order to generate the tutorials automatically, EverTutor records low-level touch events to detect gestures and identify on-screen targets. When a tutorial is browsed, the system uses vision-based techniques to locate the target regions and overlays the corresponding input prompt contextually. It also identifies the correctness of users' interaction to guide the users step by step. We conducted a 6-person user study for creating tutorials and a 12-person user study for browsing tutorials, and we compared EverTutor's interactive tutorials to static and video ones. Study results show that creating tutorials by EverTutor is simpler and faster than producing static and video tutorials. Also, when using the tutorials, the task completion time for interactive tutorials were 3-6 times faster than static and video tutorials regardless of age group. In terms of user preference, 83% of the users chose interactive type as the preferred tutorial type and rated it easiest to follow and easiest to understand.
        </div>

        <div style="position:relative; top:150px;">
            <font size="5"><big>part3 | Q&A</big></font>
        </div>
        
        <iframe width="1109" height="624" style="position:relative; top:170px;" src="http://www.youtube.com/embed/nJFWAA4-g-g?rel=0" frameborder="0" allowfullscreen></iframe>

        <div class="rightText" style="top:190px;">
            Although touchscreens may require less physical demand than physical buttons [1] and offer faster input compared to mouse, trackball, and stylus [2] for people with motor im- pairments, many usability challenges remain [1]. Our user study with 15 participants with Cerebral Palsy showed that most significant source of tapping errors was due to the sys- tem’s gesture recognizer incorrectly recognizing tapping as scrolling (69%), followed by the participants missing the tar- gets (49%).<p></p>
            We present TapAssist, which personalizes touchscreen set- tings for individuals with motor skill impairments to improve tapping performance. TapAssist adapts gesture recognizer settings to an individual by measuring the distance of un- intended movements when tapping, called touch slop. It then adjusts the the touch slop threshold to improve the recog- nition of tapping and scrolling. Study results showed that TapAssist significantly improved tapping recognition rate by a factor of 2 (from 45% to 90%) and the overall tapping suc- cess rate by a factor of 2.25 (from 20% to 45%) compared to iPad’s gesture recognizer.
        </div>

    </div>     
    
    
  

  
   

  </body>
</html>